#story {
  display: none;
}



.full {
background: url('./img/homeimag.jpeg') no-repeat center center fixed;
 height: 100vh;
 width: 100vh;
 -o-background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 
}
.logoimage{
  text-align: center;
  padding-top: 180px;
  
}
.valuezero {
  padding-top: 140px;
  font-size: 38px;
}
.aboutpage{
  text-align: center;
}