
/* HOME PAGE  */

.homepagebackgroundImage {
background: url('./img/homeimag.jpeg') no-repeat center center fixed;
 height: 100vh;
 width: 100vh;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
}
.logoimage{
  text-align: center;
  padding-top: 180px;
  
}
.valuezero {
  padding-top: 140px;
  font-size: 38px;
}


/* HOME PAGE END  */


/*  ABOUT PAGE START */
.aboutpage{
  text-align: center;
}



/* about page end */

/* service page start */

.servicebackgroundimage{

  background: url('./img/s_image.jpg') no-repeat center center fixed;
  height: 100vh;
  width: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 19px;
}


/* service page end */



/* WHAT WE DO page start */
.ourwork {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.workstart{
   width: 380px; 
  
}


#initially-showing {
  display: none;
}

#start-showing {
  display: none;
}
#fast-showing {
  display: none;
}


/* portfolio startpage */
.Portfoliopage{
  text-align: center;
}
.Portfoliobox {
display: flex;
align-items: center;
justify-content: center;
}

.imageportfolio{
  height: 220px;
  width: 220px;
}
.Portfolioimagerow1{
  position: relative;
  text-align: center;
  color: white;
}
.myfirstwork1 {
  height: 120px;
  width: 120px;
  display: none;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork2 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork3 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork4 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork5 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork6 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork7 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}
.myfirstwork8 {
  height: 120px;
  width: 120px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgb(214, 27, 142);
  color:greenyellow;
}


/* -------contact page ------- */

.contactpagebackgroundImage {
  background: url('./img/c_image.jpg') no-repeat center center fixed;
  height: 100vh;
  width: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#contactus{
  text-align: center;
  padding-top: 180px;
}